*.pyc
*.log
__pycache__/
env/*
.idea
*.dot
*.png
docs/_build
*.html
__static/
*/_*/
*.js
*/.doctrees/
*/.buildinfo
*.inv
*/_build
*/_sources
*/_static/
.cache/
.coverage
coverage*/
local_settings.py
prometheus/local_settings.py
.DS_Store
build/
dist/
thsc.egg-info/
prometheus.code-workspace
*/allure_results/
